.idea
node_modules
npm-debug.log
debug.log
src/**/*.js
src/**/*.js.map
!src/systemjs.config.extras.js
!src/systemjs.config.js
!src/systemjs-angular-loader.js
src/**/*.css
src/**/*.css.map
src/fonts/**.{eot,svg,ttf,woff,woff2,otf}